.oneChoose {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px;
  margin-left: 50px;
  font-size: 20px;
}

.oneChoose img {
  height: 80px;
  width: 80px;
  margin-right: 20px;
  border-radius: 50px;
}
